@import "../Variables.scss";

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $primary_light;
}

.header__content {
  width: $nav_width;
  align-self: center;
}

.container {
  padding: 0.25em;
  display: flex;
}

.container--space-between {
  justify-content: space-between;
}

.container--centered {
  justify-content: center;
}

.nav {
  padding: 0;
  margin: 0;
  width: auto;
}

.nav__menu {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.nav__menu--width_10 {
  min-width: 5vw;
  margin: 0;
}

.nav__menu--width_15 {
  width: 15vw;
}

.nav__menuItem {
  font-size: 1em;
  padding-bottom: 0.25em;
  color: $text_color;
  font-family: $nav_font;
  font-weight: bold;
  text-align: center;
  border-bottom: 0.5px solid transparent;
}

.nav__menuItem--uppercase {
  text-transform: uppercase;
}

.nav__menuItem:hover {
  color: $header_color;
  border-bottom: 0.5px solid $header_color;
}

.nav__menuItem--disabled {
  background-color: none;
  border: none;
}

.nav__menuItem--disabled:hover {
  color: $text_color;
  border-bottom: 0.5px solid transparent;
  background-color: none;
}

/*Collapse Navbar*/
#collapse_nav {
  display: none;
  visibility: hidden;
}

#bars {
  color: $header_color;
  margin-top: 0.3em;
  font-size: 3em;
}

/* Brand */
.brand {
  margin: -2em 3em 0em 3em;
  width: 4.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $primary_light;
}

.brand--mobile {
  width: 20vw;
  margin: 0 auto;
  display: none;
  visibility: hidden;
}

.brand__img {
  width: 80%;
}

.brand__title {
  margin: 0;
  font-size: 2em;
  padding-left: 0.25em;
  margin-top: -0.25em;
  font-family: $logo_font;
  color: $header_color;
  text-transform: none;
}

/* Tablets: */
@media only screen and (min-width: 550px) and (max-width: 1499px) {
  .nav__menu--width_15 {
    width: 30vw;
  }

  /* Brand */
  .brand {
    width: 10vw;
  }
}

/* Mobile phones: */
@media only screen and (max-width: 549px) {
  .header__content {
    width: 100%;
  }

  .container--centered {
    flex-direction: column;
  }

  /* Navbar */
  .nav__menu {
    flex-direction: column;
  }

  .nav__menu--width_15 {
    margin: 0;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }

  .nav__menuItem {
    margin-bottom: 0.25em;
    border: none;
  }

  .nav__menuItem:hover {
    border: none;
    background-color: rgba($primary_medium, 0.7);
  }

  #contact_link {
    display: none;
    visibility: hidden;
  }

  /* Secondary Navbar */
  #secondary_nav {
    display: none;
    visibility: hidden;
  }

  /*Collapse Navbar*/
  #collapse_nav {
    display: block;
    visibility: visible;
  }

  /* Brand */
  .brand {
    display: none;
    visibility: hidden;
  }

  .brand--mobile {
    display: block;
    visibility: visible;
  }

  .brand__title {
    margin-top: -0.5em;
    font-size: 1.5em;
  }
}
