/* Colors */

$primary_light: rgb(248, 241, 207);
$primary_medium_light: rgb(221, 220, 131);
$primary_medium: rgb(182, 180, 77);
$primary_dark: rgb(21, 26, 14);
$header_color: rgb(17, 61, 0);
$text_color: rgb(53, 28, 0);
$section_grapefruit_color: rgb(226, 146, 72);
$button_default_color: rgb(199, 104, 15);
$button_default_hover_color: rgb(221, 131, 46);
$button_alert_color: rgb(199, 104, 15);
$button_alert_hover_color: rgb(221, 131, 46);
$button_info_color: rgb(156, 155, 69);
$button_info_hover_color: rgb(182, 180, 77);
$shadow_color: rgba(66, 44, 18, 0.3);

/* Fonts */
$logo_font: "Cookie", cursive;
$nav_font: "Gabriela", serif;
$header_font: "Gabriela", serif;
$text_font: "Laila", serif;

/* Sizes */
$nav_width: 85%;
$content_width: 80%;
